<div class="animate">

<div class="container-fluid">
<div class="card">
  <div class="card-header">
    <div style="display: flex; justify-content: center; align-items: center;">
      <div class="h1" style="color: black;">Delivery Orders</div>
    </div>
  </div>
 
  <br/><%= search_form_for(@q, url: fourth_admins_path, method: :get) do |f| %>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
      <%= f.search_field :first_name_or_last_name_or_phone_number_eq, placeholder: "Search customer for delivery orders", class:"form-control me-2" %>
      </div>

      <div class="col">
        <%= f.submit "Search!", class:"btn btn-info" %>
      </div>
      
      
    </div>
  </div>
  <% end %>

  <div class="card-body">
    <div class="table-responsive">
    <table class="table table-hover ">
      <thead>
        <tr>
          <th scope="col">No.</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Phone</th>
          <th scope="col">Email</th>
          <th scope="col">Size</th>
          <th scope="col" style=" text-align: center; ">Color</th>
          <th scope="col">Type</th>
          <th scope="col">Quantity</th>
          <th scope="col">Finishing</th>
          <th scope="col">Order Type</th>
          <th scope="col">Description</th>
          <th scope="col" style=" text-align: center; ">Downloads</th>
          <th scope="col" style=" text-align: center; ">Actions</th>
          <th scope="col">Address</th>
          
          
          
        </tr>
      
        
      </thead>

      <tbody>
        <% @homes.each do |f| %>
      
            
        <tr>
        
          <th scope="row"><%= f.order.id %></th>
          <td><%= f.order.first_name %></td>
          <td><%= f.order.last_name %></td>
          <td><%= f.order.phone_number %></td>
          <td><%= f.order.email %></td>
          <td style=" text-align: center; "><%= f.order.paper_size %></td>
          <td style=" text-align: center; "><%= f.order.color %></td>
          <td><%= f.order.paper_style %></td>
          <td style="text-align: center;"><%= f.order.quantity %></td>
          <td style=""><%= f.order.active_roles.join(", ") %></td>
         
          <td><%= f.order.delivery %></td>
          <td><%= f.order.description %></td>
        
          

          
        
          <td><%= button_to "Downloads", download_files_order_path(f.order), method: :get, class:'btn btn-success btn-sm' %></td>
            
          

          
          <td><%= button_to "Delete", order_url(f.order), method: :delete, class:'btn btn-danger btn-sm' %></td>

          <td><%= f.address %></td>

          
    
        <% end %>

        
        
        
        </tr>

      </tbody>
      

    </table>
    
    </div>

  </div>

  
</div>




</div>
</div>