<div class="animate">

<div class="container-fluid">
<div class="card">
  <div class="card-header">
    <div style="display: flex; justify-content: center; align-items: center;">
      <div class="h1" style="color: black;">Sapna Xerox Orders</div>
    </div>
  </div>
 
  <br/><%= search_form_for(@q, url: admins_path, method: :get) do |f| %>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
      <%= f.search_field :first_name_or_last_name_or_phone_number_eq, placeholder: "Search Customer", class:"form-control me-2" %>
      </div>

      <div class="col">
        <%= f.submit "Search!", class:"btn btn-info" %>
      </div>
      
      
    </div>
  </div>
  <% end %>

  <div class="card-body">
    <div class="table-responsive">
    <table class="table table-hover ">
      <thead>
        <tr>
          <th scope="col">No.</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Phone</th>
          <th scope="col">Email</th>
          <th scope="col">Size</th>
          <th scope="col" style=" text-align: center; ">Color</th>
          <th scope="col">Type</th>
          <th scope="col">Quantity</th>
          <th scope="col">Finishing</th>
          <th scope="col">Order Type</th>
          <th scope="col">Description</th>
          <th scope="col" style=" text-align: center; ">Downloads</th>
          <th scope="col" style=" text-align: center; ">Actions</th>
          <th scope="col">Address</th>
          
          
          
        </tr>
      
        
      </thead>

      <tbody>
        <% @orders.each do |f| %>
      
            
        <tr>
        
          <th scope="row"><%= f.id %></th>
          <td><%= f.first_name %></td>
          <td><%= f.last_name %></td>
          <td><%= f.phone_number %></td>
          <td><%= f.email %></td>
          <td style=" text-align: center; "><%= f.paper_size %></td>
          <td style=" text-align: center; "><%= f.color %></td>
          <td><%= f.paper_style %></td>
          <td style="text-align: center;"><%= f.quantity %></td>
          <td style=""><%= f.active_roles.join(", ") %></td>
         
          <td><%= f.delivery %></td>
          <td><%= f.description %></td>
        
          

          
        
          <td><%= button_to "Downloads", download_files_order_path(f), method: :get, class:'btn btn-success btn-sm' %></td>
            
          

          
          <td><%= button_to "Delete", order_url(f), method: :delete, class:'btn btn-danger btn-sm' %></td>
          <!-- order.homes.each -->
          <% if f.homes.present?%>
            <% f.homes.each do |home|%>
              <td><%= home.address %></td>
            <% end %>

          <% else %>
            <td style="text-align: center;"><b>-</b></td>
          <% end %>
          
          
    
        <% end %>

        
        
        
        </tr>

      </tbody>
      

    </table>
    
    </div>
    <%= button_to 'DELETE ALL ORDERS', delete_all_orders_path, method: :post, class: "btn btn-outline-danger btn-sm" %>
  </div>

  
</div>




</div>
</div>