<div class="container">
    
    <div class="row">
        <div class="col-md-4 col-md-offset-4">

            <%= form_with(model: order) do |f| %> 

                <% if order.errors.any? %>

                    <div style="color: red">
                        <h3 style="text-align: center; border: 1px solid;"><%= pluralize(order.errors.count,"errors")%>, check your form details again!<br/> All Fields Are Required!</h3>

                        <ul>
                            <% order.errors.each do |error| %>
                                <li class="list-group-item list-group-item-danger"><%= error.full_message %></li>
                            <% end %>
                        </ul>
                    </div>

                <% end %> 
        </div>     
    </div>

        <div class='card shadow'>
            <div class="tools">
            <div class="circle">
            <span class="red box"></span>
            </div>
            <div class='card-header'>
            <h1 class="text-center">Order From Anywhere</h1>
            </div><br/>

            <div class="card-body">

            <div class='row justify-content-sm-center'>
                <div class='col-md-3'>
                
                    <%= f.label :first_name%>
                    <%= f.text_field :first_name, placeholder:"First", class:"form-control", style:"border-radius: 0px;", required: true, autofocus: true, maxlength: 45%><br/>
         
                </div>

                <div class='col-md-3'>
                    <%= f.label :last_name %>
                    <%= f.text_field :last_name, placeholder:"Last", class:"form-control", style:"border-radius: 0px;", required: true, maxlength: 45 %><br/>
                </div>
            </div>

            <div class='row justify-content-md-center'>
                <div class='col-md-3'>
                    <%= f.label :phone_number %>
                    <%= f.telephone_field :phone_number, placeholder:"Don't include +91", class:"form-control", style:"border-radius: 0px;", required: true,
                    placeholder: 'xxx-xxx-xxxx',
                    maxlength: 10, minlength: 10 %><br/>
                </div>
            
                <div class='col-md-3'>
                    <%= f.label :email %>
                    <%= f.email_field :email, id: 'user_email', type:'email', required: true, placeholder: "Email", style:"border-radius: 0px;", class:"form-control", maxlength: 65 %><br/>
                </div>
            </div>

            <div class='row justify-content-md-center'>
                <div class='col-md-3'>
                    <%= f.label :files do %>
                    <span>Click and Upload your file/files</span>
                    <% end %>
                    <div id="file-list">
                    <%= f.file_field :files, multiple: true, direct_upload: true, required: true %>
                    </div>
                    <br/>
                    
                </div>
            </div>

            <div class='row justify-content-md-center'>
                <div class='col-md-2 '>
                    <%= f.label :color %>
                    <%= f.select :color, ['Black & White', 'Color', 'Blue-Print', 'Ammonia-Print'], { prompt: 'Select' }, class:'form-select', style:"border-radius: 0px;", required: true %><br/>
                </div>
            
                <div class='col-md-2 '>
                    <%= f.label :paper_size %>
                    <%= f.select :paper_size, ['A0','A1','A2','A3','A4','A5', 'Legal', 'A4-PhotoPaper', 'A3-PhotoPaper', '12x18', 'Tracing Sheet'], { prompt: 'Select' }, class:'form-select', style:"border-radius: 0px;", required: true %><br/>
                </div>

                <div class='col-md-2 '>
                    <%= f.label :paper_style %>
                    <%= f.select :paper_style, ['Back to Back', 'Side to Side'], { prompt: 'Select' }, style:"border-radius: 0px;", class:'form-select', required: true %><br/>
                </div>
            </div>


            <div class='row justify-content-md-center'>
                <div class='col-md-2 '>
                    <%= f.label :quantity %>
                    <%= f.number_field :quantity, min: 1, class:'form-control', style:"border-radius: 0px;", required: true %><br/>
                </div>
            </div>

            <div class='row justify-content-md-center'>
                <div class='col-md-3 '>
                    <b>Select Your Finishing:</b> <i>*Optional</i><br/><hr class="hr">
                        <% Order::ROLES.each do |role| %>
                        <label>
                            <%= f.check_box role %>
                            <%= role.to_s.humanize %>
                        </label>
                        <br>
                        <% end %><hr class="hr">
                </div>
            </div>

            <div class='row justify-content-md-center'>
                <div class='col-md-2'>
                <%= f.radio_button :delivery, 'PickUp', required: true %> 
                <%= f.label :delivery, 'PickUp', value: 'PickUp' %> <br/>
                </div>

                <div class='col-md-2'>
                <%= f.radio_button :delivery, 'Delivery', required: true %>
                <%= f.label :delivery, 'Delivery', value: 'Delivery' %>
                </div>
            </div>

            <div class='row justify-content-md-center'>
                <div class='col col-md-offset-3'>
                  
                    </br><ul class="list-group">
                    <li class="list-group-item list-group-item-warning" style="padding-bottom: 0px;"><h6 style="text-decoration: underline;"><b>NOTE:</b></h6><h6 style="font: -webkit-control;"><b><i> 20₹ DELIVERY CHARGES.</i></b></h6></li>
                    <li class="list-group-item list-group-item-warning" style="padding-top: 0px;"><h6 style="text-decoration: underline;"></h6><h6 style="font: -webkit-control;"><b><i> ADVANCE PAYMENT IS NECESSARY IF YOU WANT YOUR ORDER TO BE READY BEFORE YOU ARRIVE.</i></b></h6></li>
                    <li class="list-group-item list-group-item-warning" style="padding-top: 0px;"><h6 style="text-decoration: underline;"></h6><h6 style="font: -webkit-control;"><b><i> ONLY AVAILABLE IN KALABURAGI / GULBARGA.</i></b></h6></li>
                    </ul>
               
                </div>
            </div>

            <div class='row justify-content-md-center'>
                <div class='col-md-6'>
                <%= f.label :Anything_to_say? %> 
                <%= f.text_area :description, placeholder:"(Optional)", class:"form-control", style:"border-radius: 0px;", maxlength: 100 %><br/>
                </div>
            </div>
            
           

        
                <div class="row justify-content-md-center btn-order">
                    <div class='col-md-6'>
                        <br><%= f.submit 'Submit', class:'btn btn-primary'  %>
                    </div>
                </div>
            </div><br/>
           
            
            <% end %>
        
        </div>
            
        
</div>