<%= form_with(model: [@order,home], local: true) do |f| %>
<div class='card shadow'>
<div class="card-header">
<h3 class="text-center">Enter Your Address For Delivery!</h3>
</div>

<div class="card-body" style=" padding-bottom: 230px; ">
<div class="row">
    <div class="col-md-6 col-md-offset-3">
    <%= f.label :address %>
    <%= f.text_field :address, class:'form-control', placeholder:"Aiwan-E-Shahi Area, PDA Engineering College Road.......", required: true %><br/>

    <%= f.submit 'Submit', class:'btn btn-primary' %><br/>
    
    <br/><ul class="list-group">
        <li class="list-group-item list-group-item-danger"><b>NOTE: ADVANCE PAYMENT IS NECESSARY FOR DELIVERY, <i>YOU WILL RECIEVE A CALL</i> FEW MINUTES AFTER THE ORDER IS PLACED</b></li>
    </ul><br/>
    </div>
</div>


</div>

</div>





    
<% end %>
<%= button_to "Cancel Order?",order_path(@order), method: :delete, class:'btn btn-danger' %><br/>